body {
    font-family: Arial, sans-serif;    
    background: linear-gradient(to bottom right, #96bbffd6, #81ffb3d2); /* Consistent gradient background */
    text-align: center;
}

.todo-container {
    width: 50%;
    margin: auto;
    background: rgb(171, 254, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3bd19a;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.details {
    font-size: 0.8em;
    color: #777;
}
button.x{
    text-shadow: 1px 1px 1px  #000000;
    background-color: white;
    color: #e60f0f;
    font-weight: bold;
 }  
.custom-checkbox {
    width: 20px;
    height: 20px;
    accent-color: #3bd19a; /* צבע סימון ירוק */
}